body {
    font-size: 16px;
    line-height: 1.6;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0px 15px;
    text-align: center;
    max-height: 350px;
}
h1 {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;  
}

.conteiner {
    width: 90%;
    max-width: 1350px;
    margin: 0 auto;
    display: flex;
    text-align: justify;
    justify-content: space-between;
}


@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 12px;
    }
}